.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.2rem;
  background-color: #0A1E32;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  height: 90px;
}


.logo {
  height: 140px;
  width: auto;
  margin-left: 50px;
  display: block;
}


.header-center {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.nav-link {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav-link:hover {
  color: #6567d1;
}


.badge {
  background: #f1c40f;
  color: black;
  border-radius: 10px;
  padding: 0 6px;
  font-size: 0.75rem;
  margin-left: 6px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.user-group {
  display: flex;
  align-items: center;
  padding-right: 40px;
  gap: 0.2rem;
}

.admin-logout-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}


.btn {
  background: none;
  border: 1px solid #555;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1db954;
  border: none;
}

.btn-primary:hover {
  background-color: #1ed760;
}

.btn-admin {
  border-color: #f39c12;
  color: #f39c12;
}

.btn-admin:hover {
  color: #fff;
}


.balance {
  font-weight: bold;
  margin-right: 0.5rem;
  padding-right: 3px;
}


.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  padding: 10px 0 5px;
  cursor: pointer;
}

.icon-btn:hover {
  color: #6567d1;
}

.icon-btn.logout:hover {
  color: #fff;
}

/*Movil*/
@media (max-width: 768px) {

  
  .header {
    height: 56px;
    padding: 0.4rem 0.6rem;
  }

  .logo {
    height: 70px;
    margin-left: 20px;
  }


  .header-center {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #0A1E32;
    border-top: 1px solid rgba(255,255,255,0.1);

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 56px;
    z-index: 1000;
  }

  .nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .badge {
    font-size: 0.7rem;
    margin-left: 4px;
  }

 
  .header-right {
    gap: 0.4rem;
  }

  .user-group {
    padding-right: 10px;
  }

  .balance {
    font-size: 0.8rem;
  }

  .icon-btn {
    font-size: 22px;
    padding: 0;
  }

  .btn,
  .btn-primary,
  .btn-admin {
    font-size: 0.7rem;
    padding: 0.3rem 0.4rem;
  }

 
  body {
    padding-bottom: 56px;
  }
}
