.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.6rem 1.2rem;
  background-color: #0A1E32;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  height: 80px;
}

.logo{
 max-width: 80px; 
}
.header-center {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 130px;
}

.nav-link {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav-link:hover {
  color: #6567d1;
}

.badge {
  background: #f1c40f;
  color: black;
  border-radius: 10px;
  padding: 0 6px;
  font-size: 0.75rem;
  margin-left: 6px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.8rem; 
}


.user-group {
  display: flex;
  align-items: center;
  padding-right: 40px;
  gap: 0.2rem; 
}


.admin-logout-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; 
}

.btn {
  background: none;
  border: 1px solid #555;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1db954;
  border: none;
}

.btn-primary:hover {
  background-color: #1ed760;
}

.btn-admin {
  border-color: #f39c12;
  color: #f39c12;
}

.balance {
  font-weight: bold;
  margin-right: 0.5rem;
  padding-right: 3px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.icon-btn:hover {
  color:#6567d1;
}
.btn-admin:hover{
  color: #fff
}

.icon-btn.logout:hover {
  color: #fff
}
