name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  deploy_frontend:
    runs-on: ubuntu-latest
    name: Deploy Prebuilt Frontend to Azure
    permissions:
      contents: read
      id-token: write
    steps:
     
      - uses: actions/checkout@v3

     
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

     
      - name: Install dependencies
        run: npm install

      
      - name: Build frontend
        run: npm run build

      
      - name: Deploy prebuilt frontend
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_COAST_017CD6B03 }}
          action: "upload"
          app_location: "dist"      
          api_location: ""          
